.page-not-found {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
}

.content {
    color: var(--dashboard-title-color);
    text-align: center;
}

.content img {
    max-width: 100%;
    height: auto;
}
